<!DOCTYPE html>
<html>
    <head>
        <title>Sofi blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Sofi Blog</a></h1>
        </header>

        <article>
            <time>published: 08.02.2024, 10:45</time>
            <h2><a href="">My first post</a></h2>
            <p> Hola!!!!! </p>
        </article>

        <article>
            <time>published: 08.02.2024, 10:45</time>
            <h2><a href="">My second post</a></h2>
            <p>Mira Óscar mi primer blog!!!.</p>
        </article>
    </body>
</html>